In [4]:
import pandas as pd

In [2]:
pd.__version__

'0.19.2'

In [3]:
data = pd.Series([0,0.25,0.5,1])

In [4]:
data

0    0.00
1    0.25
2    0.50
3    1.00
dtype: float64

In [5]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
data[1]

0.25

In [7]:
data['1']

KeyError: '1'

In [8]:
data[1:3]

1    0.25
2    0.50
dtype: float64

In [9]:
data = pd.Series([0,0.25,0.75,1],index=['a','b','c','d'])

In [10]:
data

a    0.00
b    0.25
c    0.75
d    1.00
dtype: float64

In [11]:
data['b']

0.25

In [12]:
data = pd.Series([0,0.25,0.75,1],index=[2,3,7,10])

In [13]:
data['2']

KeyError: '2'

In [14]:
data[7]

0.75

In [15]:
data = pd.Series([0,0.25,0.75,1],index=['2','3','7','10'])

In [16]:
data['2']

0.0

In [2]:
population_dict = {'California':38332521,'Texas': 26448193,
                           'New York': 19651127,
                           'Florida': 19552860,
                           'Illinois': 12882135}

In [6]:
population = pd.Series(population_dict)

In [7]:
population[0]

38332521

In [8]:
population['Illinois']

12882135

In [9]:
population["California":'Illinois']

California    38332521
Florida       19552860
Illinois      12882135
dtype: int64

In [10]:
pd.Series(5,index=[100,300])

100    5
300    5
dtype: int64

In [12]:
pd.Series({2:'a',5:'c'})

2    a
5    c
dtype: object

In [14]:
pd.Series({2:'a',1:'e',6:'7'},index=[3,44])

3    NaN
44   NaN
dtype: float64

In [15]:
pd.Series({2:'a',1:'e',6:'7'},index=[2,44])

2       a
44    NaN
dtype: object

In [16]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}

In [17]:
area = pd.Series(area_dict)
area

California    423967
Florida       170312
Illinois      149995
New York      141297
Texas         695662
dtype: int64

In [18]:
states = pd.DataFrame({'population': population,
                               'area': area})
states

              area  population
California  423967    38332521
Florida     170312    19552860
Illinois    149995    12882135
New York    141297    19651127
Texas       695662    26448193

In [19]:
states.index

Index(['California', 'Florida', 'Illinois', 'New York', 'Texas'], dtype='object')

In [20]:
states['area']

California    423967
Florida       170312
Illinois      149995
New York      141297
Texas         695662
Name: area, dtype: int64

In [21]:
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Florida       19552860
Illinois      12882135
New York      19651127
Texas         26448193

In [22]:
data = [{'a': i, 'b': 2 * i}
                for i in range(3)]

In [23]:
data

[{'a': 0, 'b': 0}, {'a': 1, 'b': 2}, {'a': 2, 'b': 4}]

In [24]:
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [25]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [27]:
import numpy as np
pd.DataFrame(np.random.rand(3, 2),
                     columns=['foo', 'bar'],
                     index=['a', 'b', 'c'])

        foo       bar
a  0.227939  0.605685
b  0.231104  0.699440
c  0.275433  0.936404

In [28]:
 A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])

In [29]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

In [30]:
ind = pd.Index([2, 3, 5, 7, 11])

In [31]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

In [32]:
ind.size

5

In [33]:
ind[1] = 0

TypeError: Index does not support mutable operations

In [35]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [36]:
indA & indB

Int64Index([3, 5, 7], dtype='int64')

In [37]:
indA | indB

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [38]:
indA ^ indB

Int64Index([1, 2, 9, 11], dtype='int64')

In [40]:
indA.intersection(indB)

Int64Index([3, 5, 7], dtype='int64')

In [41]:
 data = pd.Series([0.25, 0.5, 0.75, 1.0],
                        index=['a', 'b', 'c', 'd'])

In [42]:
'a' in data

True

In [43]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [44]:
data.values()

TypeError: 'numpy.ndarray' object is not callable

In [45]:
data.items()

In [46]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

In [47]:
data['r']=90

In [48]:
data

a     0.25
b     0.50
c     0.75
d     1.00
r    90.00
dtype: float64

In [49]:
data['c'] = 99

In [50]:
data

a     0.25
b     0.50
c    99.00
d     1.00
r    90.00
dtype: float64

In [51]:
data['a':'c'] # c included

a     0.25
b     0.50
c    99.00
dtype: float64

In [52]:
data[0:2]

a    0.25
b    0.50
dtype: float64

In [53]:
data.loc[1]

TypeError: cannot do label indexing on <class 'pandas.indexes.base.Index'> with these indexers [1] of <class 'int'>

In [54]:
data.loc['c']

99.0

In [55]:
data.loc[0:2]

TypeError: cannot do slice indexing on <class 'pandas.indexes.base.Index'> with these indexers [0] of <class 'int'>

In [56]:
data.loc['a':'r']

a     0.25
b     0.50
c    99.00
d     1.00
r    90.00
dtype: float64

In [57]:
data.iloc[1] # data.loc['b']

0.5

In [58]:
data.iloc[0]

0.25

In [60]:
area = pd.Series({'California': 423967, 'Texas': 695662,
                          'New York': 141297, 'Florida': 170312,
                          'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                         'New York': 19651127, 'Florida': 19552860,
                         'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})
data

              area       pop
California  423967  38332521
Florida     170312  19552860
Illinois    149995  12882135
New York    141297  19651127
Texas       695662  26448193

In [61]:
data.area

California    423967
Florida       170312
Illinois      149995
New York      141297
Texas         695662
Name: area, dtype: int64

In [62]:
data.area is data['area']

True

In [63]:
data.pop # a method

<bound method NDFrame.pop of               area       pop
California  423967  38332521
Florida     170312  19552860
Illinois    149995  12882135
New York    141297  19651127
Texas       695662  26448193>

In [64]:
data['pop']

California    38332521
Florida       19552860
Illinois      12882135
New York      19651127
Texas         26448193
Name: pop, dtype: int64

In [65]:
data['density'] = data['pop']/data['area']

In [66]:
data

              area       pop     density
California  423967  38332521   90.413926
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763
New York    141297  19651127  139.076746
Texas       695662  26448193   38.018740

In [67]:
data.values

array([[  4.23967000e+05,   3.83325210e+07,   9.04139261e+01],
       [  1.70312000e+05,   1.95528600e+07,   1.14806121e+02],
       [  1.49995000e+05,   1.28821350e+07,   8.58837628e+01],
       [  1.41297000e+05,   1.96511270e+07,   1.39076746e+02],
       [  6.95662000e+05,   2.64481930e+07,   3.80187404e+01]])

In [68]:
data.T

           California       Florida      Illinois      New York         Texas
area     4.239670e+05  1.703120e+05  1.499950e+05  1.412970e+05  6.956620e+05
pop      3.833252e+07  1.955286e+07  1.288214e+07  1.965113e+07  2.644819e+07
density  9.041393e+01  1.148061e+02  8.588376e+01  1.390767e+02  3.801874e+01

In [69]:
data.T.values[0]

array([ 423967.,  170312.,  149995.,  141297.,  695662.])